<!-- FOOTER -->
<footer class="k-footer pt-5 pb-4">
  <div class="container">
    <div class="text-center pb-4">
      <h2>Ready, efficient, and productive with Karaf in a minute!</h2>
      <p class="pt-2"><a class="btn btn-primary btn-lg" href="/documentation.html" role="button">Read Documentation &raquo;</a></p>
    </div>

    <div class="k-footer-legal text-center">
    <p>
      &copy; 2018-2022 <a href="https://www.apache.org">Apache Software Foundation</a> -
      <a href="https://www.apache.org/">Foundation</a> -
      <a href="https://privacy.apache.org/policies/privacy-policy-public.html">Privacy Policy</a> -
      <a target="_blank" rel="noopener" href="https://www.apache.org/events/current-event.html" title="Apache Events">Apache Events</a> -
      <a target="_blank" rel="noopener" href="https://www.apache.org/licenses/" title="Licenses">Licenses</a> -
      <a target="_blank" rel="noopener" href="https://www.apache.org/security/" title="Security">Security</a> -
      <a target="_blank" rel="noopener" href="https://www.apache.org/foundation/sponsorship.html" title="Sponsorship">Sponsorship</a> -
      <a target="_blank" rel="noopener" href="https://www.apache.org/foundation/thanks.html" title="Thanks">Thanks</a><br>
      Apache Karaf, Karaf, Apache, the Apache logo, and the Apache Karaf project logo are trademarks of The Apache Software Foundation.
    </p>
    <p class="mb-0">
      <a class="k-back-top" href="#">Back to top</a>
    </p>
    </div>
  </div>
</footer>